<nav class="navbar">
    <div class="nav-container">
        <a href="/" class="logo">
            <img src="/assets/images/branding/franklink-banner-2.png" alt="Franklink" class="logo-img">
        </a>
        <ul class="nav-links">
            <li><a href="/" class="nav-mobile-hide" data-nav="home">Home</a></li>
            <li><a href="/story.html" data-nav="story">Our Story</a></li>
            <li><a href="/account/" data-nav="account">My Agent</a></li>
            <li><a class="nav-cta" href="sms:+15037410940&body=yo, who's here" data-nav="cta">Meet Frank Now</a></li>
        </ul>
    </div>
</nav>
